.rodape {
    display: flex;
    justify-content: center;
}

.rodape h2 {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;
    font-size: 2em;
    color: #fffdd9;
    font-weight: 500;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
